body{
  background-color: lightgray;
}

.bio{
  margin-right: 10px;
}

.hname{    
  margin: 0 auto;
  text-align: center;
}

h1{
  background-color: #4aaaa5;
  color: white;
  margin: 0 auto;
  height: 100%;
  padding: 15px;
}

h2{
  color: #4aaaa5;
}

.social{
  height: 40px;
  width: 40px;
  float: left;
  margin: 10px;
}

.divider{
  height: 2px;
  background: lightgrey;
  margin: 15px;
}

footer{
  text-align: center;
  border-top: #4aaaa5 thick solid;
  background-color: #666;
  padding: 5px;
  color: white;
}

.piclabel{
  position: absolute;
  right: 20px;
  width: 285px;
  height: 40px;
  padding: 0px;
  background: #4aaaa5;
  text-align:center;
  color: white;
  display: block;
  line-height:2;
  z-index: 2;
  bottom: 25px;
}

.bottom{
  margin-bottom: 100px;
}